@media (max-width: 667px) {
  .container {
    width: 90%;
  }
  .hero-section,
  .about-section,
  .experience {
    flex-direction: column;
  }
  .full-stack,
  .baby-developer {
    width: 100%;
    margin: 0;
  }
  .baby-developer {
    margin-top: 20px;
  }
  .about-content {
    padding-left: 0;
  }
  .hero-content {
    padding-right: 0;
  }
  h1 {
    font-size: 34px;
  }
  .hero-content h1 {
    padding: 10px 0;
  }
  .hero-img img {
    margin-top: 40px;
    width: 90%;
  }
  .about-img img {
    width: 90%;
  }
  .about-content {
    margin-top: 30px;
  }
  .full-stack h1,
  .baby-developer h1 {
    font-size: 24px;
  }
  .full-stack h3,
  .baby-developer h3 {
    font-size: 18px;
  }
}
